




#content{

	min-height: 712px;

	.container{
		padding-top:70px;
		
		.up{
			h1{
				font-size: $font-size*2+2;
				text-transform: $upper;
				margin-bottom: 0;
				margin-left: 15px;


			}
			h4{
				font-size: $font-size +4;
				text-transform: $upper;
				margin-left: 15px;
				margin-top: 0;
				margin-bottom: 40px;

			}
		}

		.line{
			border-bottom: 2px solid lighten($colorGray, 30%);
			padding-bottom: 105px;

			p{
				color: #55595f;
				line-height: 22px;
				
			}
			.rightPadding{
				padding-right: 40px;
			}
		}

		
		.line2{
			padding: 70px 0;


			img{
				margin-top: 10px;

			}

			h1{
				font-size: $font-size*4-4;
				padding:0;
				margin:0;
			}

			h4{
				font-size: $font-size;
				text-transform: $upper;
			}
		}

	}
}