


#contact{ 
	.container-fluid{
		width: 100%;
		min-height: 50px;
		background-color: $backgroundColorBlue;


		.clearFix {
			clear: both;
		}
		

		h4 {
			text-transform: $upper;
			color:$colorGray;
			font-size: $font-size - 1;
			margin-top: 17px;
		}

		ul {
			list-style: none;

			li{
				float: right;
				color: $colorGray;
				padding:14px 0px;
				padding-right: 5%;

				
				&:first-child{
					padding-right: 0px;
					padding-left: 5%;
					border-left: 1px solid $colorGray;
				}

				i{
					font-size: 20px;
				}

				span{
					text-transform: $upper;
				}
				
			}
		}
	}

}
