



#slider{

	margin-top: -20px;
	
	.container-fluid{
		height: 310px;
		background-image: url(../images/slider.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 95px;
	
		.row {

			h1 {
				font-size: 48px;
				color: $colorWhite; 
				font-weight: 700;
				text-transform: $upper;
				margin-bottom: 0px;
				

			}

			h4{
				font-size: $font-size;
				margin-bottom: 0px;
				padding-top:0;
				@extend h1;
			}
		}
	}
}