#blogVideo, #blogAudio{
	
	h1{
		padding-left: 15px;
		font-size: $font-size+14;
		font-weight: Bold;
	}

	h4{
		font-size: $font-size +1;
		padding-left: 16px;
		font-weight: bold;
		text-transform: $upper;
		span{
		color: $colorOrange;
		}
	}
			
	p{
		color:$colorGray;
		padding:30px 16px;
	}

	embed{
		width: 100%;
	}
	
	
	.cls{
		button{
			@extend .button;
			background-color: $colorBlue;
			transition: all 0.4s ease;

			&:hover{
				background-color: $colorOrange;
			}
		}
		
		padding-left: 15px;
		padding-top: 10px;
		padding-bottom: 60px;
		border-bottom: 1px solid lighten($colorGray, 30%);
	}





}