@import url(https://fonts.googleapis.com/css?family=Raleway:500);


#news{
	.container{
		padding-top: 95px;
		
		.col-md-12{
			margin: 0;
		}
		
		
		h1{
			@include forFont;
			margin: 0;
		}
		h3{
			@include forFontMini;
			margin: 0;
		}


		.image{
			width: 100%;
			min-height: 428px;
			margin-top:32px;
			background-color: $backgroundColorGray;
			position: relative;
		}


			.ucken{
				width: 30px;
				border-top: 30px solid transparent;
				border-bottom: 30px solid $backgroundColorBlue;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				position:absolute;
				bottom: 0;
				left: 47.7%;

			}


		.paragraph{
			width: 100%;
			min-height: 480px;
			padding: 48px 0;
			background-color: $backgroundColorBlue;

			h1{
				font-family: 'Raleway', sans-serif;
				font-size: 48px;
				font-weight: normal;
			}

			h3{
				font-family: 'Raleway', sans-serif;
				font-size: $font-size +2;

			}

			h4{
				
				margin-top: 40px;
				
				font-size: $font-size +4;
			}

			p{
				padding: 0 50px;
				font-size: $font-size;
				color: darken($colorGray, 30%);
			}

			button{
				@extend .button;
				margin: 10px;
				margin-top: 60px;
				width: 139px;
				height: 42px;
				background-color: $colorBlue;

				&:hover{
					background-color: $colorOrange;
				}
			}
		}
	}
}