

#startup{
	.container{
		padding-top: 70px;
		.leftColum{
			padding-right: 20px;
			h1{
				@include forFont;
			}

			h4{
				@include forFontMini;
			}

			p{
				margin-top: 45px;
				margin-bottom: 60px;
				font-size: $font-size;
				color: $colorGray;
			}

			div{
				width: 90%;
				height: 301px;
				background-color: $backgroundColorGray;
			}

		}


		.rightColm{
			padding-top: 30px;
			.back{
				display: inline-block;
				background-color: darken($backgroundColorBlue, 15%);
				width: 67px;
				height: 67px;
				padding-top: 15px;
				margin-left: 15px;
				margin-right: 30px;
				margin-bottom: 80px;
				float:left;
				transition: all 0.4s ease;
				&:hover{
					background-color: $colorOrange;
				}
			}

			



			h5{
				margin-top:0;
				font-size: $font-size +6;
			}

			p{
				color: $colorGray;
				font-size: $font-size;
			}
		
			.button{
				margin-top: 20px;
				background-color: $colorBlue;
				transition: all 0.4s ease;
				&:hover{
					background-color: $colorOrange;
				}
			}
		}
	}
}