$colorBlue: #29c2e1;
$colorOrange: #f69b37;
$colorBlack: #23282f;
$colorGray: #93a1a7;
$colorWhite: #fff;
$backgroundColorBlue: #e5eef0;
$backgroundColorGray: #e5eef0;
$upper: uppercase;
$font-size: 14px;





