$colorBlue: #29c2e1;
$colorOrange: #f69b37;
$colorBlack: #23282f;
$colorGray: #93a1a7;
$colorWhite: #fff;
$backgroundColorBlue: #e5eef0;
$backgroundColorGray: #8d8d8d;
$upper: uppercase;
$font-size: 14px;




.clearFix{
	clear: both;
}

.button{
	padding: 8px 20px;
	font-size: 14px +0.5;
	border:none;
	border-radius: 22px;
	letter-spacing: 2px;
	color: $colorWhite;
}


.searchButton{
	width: 262px;
	height: 42px;
	background-color: $colorWhite;
	input{
		width: 220px;
		height: 42px;
		background: transparent;
		font-size: 12px;
		text-indent: 15px;
		border: 1px solid $colorBlue;
		text-transform: $upper;
	}

	button{
		width: 42px;
		height: 42px;
		float: right;
		background-color: $colorBlue;
		border: none;
		color: $colorWhite;
	}
}



.ul {

	padding:0;

	li{
		list-style:none;
		line-height: 40px;
		text-transform: $upper;
		font-weight: bold; 
		color: $colorGray;
	}

}

.h1tag{
	font-size: $font-size+1;
	text-transform:$upper;
	font-weight: bold;
}